nav{
    position: fixed;
    z-index: 10;
}

.logo{
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu li{
   
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;

    opacity: 0;
}

.menu li a{
    transition: all 0.1s;
    transform: scale(1);
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #e88604;
}

.menu li a:active{
    transform: scale(1.1);
}

.title__container{
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift {
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.2s;
}
.menu li:nth-child(3){
    animation-delay: 0.4s;
}
.menu li:nth-child(4){
    animation-delay: 0.6s;
}
.menu li:nth-child(5){
    animation-delay: 0.8s;
}
.menu li:nth-child(6){
    animation-delay: 1s;
}

@keyframes titlemove {
    from{
        margin-left: -300px;
        opacity: 0;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.about_me_container img{
    transform: scale(1);
    transition: all 0.2s;
}

.about_me_container img:hover{
    transform: scale(1.1);
}

.about_me_container a{
    transform: scale(1);
    transition: all 0.2s;
}

.about_me_container a:hover{
    transform: scale(1.1);
}

.services_item {
    transform: scale(1);
    transition: all 0.2s;
}

.services_item:hover{
    transform: scale(1.1);
}

.description_left a{
    transform: scale(1);
    transition: all 0.2s;
}

.description_left a:hover{
    background: #4e938d;
    color: white;
}
.description_left a:active{
    transform: scale(1.1);
}

.price_footer button{
    transform: scale(1);
    transition: all 0.2s;
}

.price_footer button:hover{
    background: #4e938d;
    color: white;
}

.price_footer button:active{
    transform: scale(1.1);
}

.contacts_container input{
    transition: all 0.2s;
    transform: scale(1);
}

.contacts_container input[type="submit"]:hover{
    background: white;
    color: black;
}

.contacts_container input[type="submit"]:active{
    transform: scale(1.1);
    color: black;
}

.contacts_social input{
    transition: all 0.2s;
    transform: scale(1);
}

.contacts_social a:hover{
    transform: scale(1.1);
}

.contacts_social a:active{
    transform: scale(1.3);
}